body {
  font-family: Arial, sans-serif;
  margin: 10px 10px 10px 10px;
  padding: 0;
  background-color: #FFFFFF;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}




/* Calculator Styles */
.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
  grid-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto auto;
  /* Auto size for rows */
}


.explain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
  grid-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto auto;
  /* Auto size for rows */
}

#expl1 {
  grid-column: 1;
  /* Span two columns */
  grid-row: 1;
  /* Span two rows */
  padding: 0 20px 0 20px;
  border: 2px solid border-radius: 5px;

  h2 {
    color: #FF00BF;
  }

  p {
    color: #B40486;
  }


}

#expl2 {
  grid-column: 2;
  /* Resets column positioning */
  grid-row: 1;
  /* Resets row positioning */
  padding: 0 20px 0 20px;
  border: 2px solid border-radius: 5px;

  h2 {
    color: #0080FF;
  }

  p {
    color: #045FB4;
  }


}

#calc1 {
  grid-column: 1;
  /* Span two columns */
  grid-row: 2;
  /* Span two rows */
  padding: 20px;
  border: 2px solid #B40486;
  border-radius: 5px;
}

#calc2 {
  grid-column: 2;
  /* Resets column positioning */
  grid-row: 2;
  /* Resets row positioning */
  padding: 20px;
  border: 2px solid #045FB4;
  border-radius: 5px;
}


hr {
  border: none;
  /* Remove default border */
  height: 2px;
  /* Set the height */
  background-color: #000;
  /* Set the background color */
  margin: 10px;
  /* Adjust margin as needed */
}

/* Form Styles */

input {
  width: 80px;
  height: 20px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.cl-button {
  padding: 8px 16px;
  background-color: #BDBDBD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;


}

.cal-button {
  padding: 8px 16px;
  background-color: #BDBDBD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  


}

.cal-button:hover {
  background-color: #01DF01;
  /* Change the color slightly on hover */
}

.cl-button:hover {
  background-color: red;
  /* Change the color slightly on hover */
}

select {
  height: 33px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Set a specific height for consistency */
}
